<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Musinsa</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Musinsa</h1>
<ul>
    <li><a th:href="@{/products/category-lowest-prices}">카테고리별 최저가</a></li>
    <li><a th:href="@{/products/lowest-total-brand-price}">단일브랜드 최저가</a></li>
    <li><a th:href="@{/products/category-search-form}">최저가/최고가 카테고리</a></li>
    <li><a th:href="@{/brands/save}">브랜드 등록</a></li>
    <li><a th:href="@{/products/save}">상품 등록</a></li>
    <li><a th:href="@{/products/update}">상품 수정</a></li>
    <li><a th:href="@{/products/delete}">상품 삭제</a></li>
</ul>
</body>
</html>
